* {
  box-sizing: border-box;
  padding: auto;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: white;
}

header {
  background-color: black;
  padding: 29px;
  text-align: center;
}




nav ul {
  display: inline;
  justify-content: space-between;
}

nav ul li {
  list-style: none;
  display: inline;
  margin-right: 4%;
}

nav a {
  text-align: center;
}

nav ul a {

  font-family: monospace;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

nav ul a:hover {
  background-color: rgba(79, 31, 211, 0.637);
  transition: 2s;
  border-radius: 55px;
}

#micro {
  width: 69px;
}

#sla {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: 26px;
}

.BlocoPrincipal {
  background-color: azure;
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 15px;
  border-color: black;
  border-width: thick;
  margin-bottom: 10%;
}

.BlocoPrincipal:hover {

  background-color: rgba(137, 43, 226, 0.267);
  transition: ease-in-out 2s;
}

#bloco01 h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 12px;
  text-align: justify;
  text-overflow: ellipsis;
}

.acoplamento {
  gap: 10px;
  display: flex;
}


.news {
  display: grid;
  width: 50%;
  margin: 20px auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  margin-left: 12px;
  margin-right: 12px;
}

.news img {
  opacity: calc(55%);
  width: 100%;
  display: block;
  border-bottom: 1px solid #ccc;
}

.news img:hover {
  opacity: calc(100%);
  transition: 3s ease-in-out;
}

.news .conteudo {
  background-color: rgba(13, 182, 131, 0.212);
  padding: 25px;
}

.news h2 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: x-large;
  font-weight: 100;
  margin-top: 0;
}

.news p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: medium;
  color: black;
}

#btn01 {
  margin-top: 10px;
  background-color: rgba(56, 144, 221, 0.24);
  padding: 10px;
  border-radius: 12px;
  border-width: 1px;
}

.artistas {
  width: 80%;
  margin: 10% auto;
}

.artista {
  width: 30%;
  margin: 15px auto;
  display: inline-block;
  text-align: center;
}

.artista img {
  width: 90%;
  border-radius: 50%;
}

.artista h3 {
  font-size: medium;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 400;
  margin-top: 10px;
}

.artista p {
  font-size: smaller;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 100;
  font-size: 89%;
}

.acoplamento02 {
  display: flex;
  margin-left: 25%;
}